/*Formating page style*/
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 1em;
}

/*Stylizing Nav Bar*/

.menu {
  display: flex;
  height: 4em;
  font-weight: 600;
  background-color: #f9f8f9;
  font-size: 0.9em;
  align-items: center;
}
.main-nav {
  width: 70%;
  padding-left: 5%;
}
nav {
  width: 50%;
}
.form-nav {
  width: 30%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main-nav a {
  color: #000;
  text-decoration: none;
}

/*Stylizing cover page*/

.cover-page {
  background-color: #13131e;
  height: 40em;
  display: flex;
  align-items: center;
  
}
.cover-page article {
    color: #f9f8f9;
    align-items: center;
    padding: 10%;
    max-width: 65%;
}
.cover-page h2 {
    font-size: 3.5em;
    padding: 3% 0;
}
.cover-page p {
    padding: 5% 0;
}
.cover-page a {
    color: #f9f8f9;
    text-decoration: none;
}
.cover-page img {
    max-width: 50%;
}


