/*Formating Document Style*/
* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

/*Adding CSS Grid*/
.grid-container {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/*Style of Nav Bar*/
.nav-var {
  background-color: #1a1a2e;
  height: 4em;
  display: grid;
  grid-column: 1 / 5;
  border-bottom: 0.0625em solid #323549;
}

.list-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: space-around;
}

#logo {
  text-transform: uppercase;
  padding: 0 5%;
}

.list-nav li {
  list-style: none;
  padding: 0 1em;
}

.list-nav a {
  text-decoration: none;
  color: #efedf6;
  font-size: 0.9em;
}

/*Form Nav Search of nav Menu*/
.form-nav {
  border-radius: 25%;
  padding: 0 10% 0 30%;
}

.form-nav input {
  line-height: 2em;
  background: #1a1a2e;
  text-align: center;
  border-radius: 1em;
  border: 0.1rem solid;
  border-color: #efedf6;
}

.form-nav ::placeholder {
  color: #efedf6;
  font-weight: 600;
  letter-spacing: 0.0125em;
}
.form-nav [type="submit"] {
  background-color: #896bff;
  width: 2.5em;
  color: #1a1a2e;
  border: #896bff;
}

/*Style of Cover Page*/
.cover-page {
  background-color: aqua;
  display: flex;
}

.img-cover {
}
