/*Formating Document Style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Montserrat;
}


/*Style of Nav Bar*/
.nav-var {
  background-color: #1a1a2e;
  height: 4rem;
  border-bottom: 0.0625rem solid #323549;
}

.list-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  padding-top: 0.9rem;
}

#logo {
  text-transform: uppercase;
  padding: 0 5%;
}

.list-nav li {
  list-style: none;
  padding: 0 1rem;
}

.list-nav a {
  text-decoration: none;
  color: #efedf6;
  font-size: 0.9rem;
}

/*Form Nav Search of nav Menu*/
.form-nav {
  border-radius: 25%;
  padding: 0 10% 0 30%;
}

.form-nav input {
  line-height: 2rem;
  background: #1a1a2e;
  text-align: center;
  border-radius: 1rem;
  border: 0.1rem solid;
  border-color: #efedf6;
}

.form-nav ::placeholder {
  color: #efedf6;
  font-weight: 600;
  letter-spacing: 0.0125rem;
}
.form-nav [type="submit"] {
  background-color: #896bff;
  width: 2.5rem;
  color: #1a1a2e;
  border: #896bff;
}

/*Style of Cover Page*/

.cover-page {
  display: flex;
  min-width: 100%;
  max-height: 100%;
  align-items: center;
  color: #efedf6;
  background-color: #13131e;
}

.text-cover-page {
  display: flex;
  width: 50%;
  padding: 2rem;
  justify-content: center;
}

.text-cover-page h2 {
  width: 24rem;
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.text-cover-page p {
  width: 24rem;
  padding-bottom: 2rem;
  color: #aebecf;
  font-weight: 600;
  line-height: 1.7rem;
}

.text-cover-page a {
  background-color: #896bff;
  border-color: #896bff;
  color: #10101d;
  padding: 10px 20px;
  border-radius: 1.56rem;
  text-decoration: none;
  letter-spacing: 0.0125rem;
  font-size: 0.875rem;
  font-weight: 600;
  width: 100.18rem;
}

/*Image cover*/

.img-cover img {
  display: flex; /*Elimina la barrita abajo de la foto*/
  max-width: 100%;
}

/*Start NEWS section*/
.news-container {
  justify-items: center;
  background-color: #1a1a2e;
  padding: 1rem 0;
}

.big-news {
  margin:auto; /*Para centrar contenedores hijos*/
  width: 90%;
  max-width: 75rem;
  display: flex;  
  padding: 4rem 0;
}

.img-big-news {
  width: 580px;
  height: 475px;  
  /*padding: 5rem 5rem;*/
  text-align: center;
  border-radius: 2rem;
  
}

.text-big-news {
  padding: 2.5rem;
  color: #efedf6;
}

.text-big-news span {
  font-weight:800;
  letter-spacing: 0.05rem;
  font-size: .75rem;
  margin-bottom: 2rem;
  display: block;
}

.text-big-news a{
  color: #896bff;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 0.9rem;
}

.text-big-news h2 {
  padding: 1.5rem 0;
  font-size: 2.3rem;
}

.text-big-news p {
  color: #dad5f3;
  line-height: 1.7;
}

.writter-info {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  font-size: .8rem;
}
.writter-info img {
  width: 30px;
  border-radius: 180px; /*No se ve circular*/
  margin-right: 1rem;
}
.writter-info p {
  padding-right: .3rem;
}

.writter-info a {
  padding-right: .3rem;
  color: #efedf6;
  font-weight: 500;
  letter-spacing: .03rem;
}


/*LITTLE NEWS SECTION*/
.little-news {
  background-color: aquamarine;
  display: flex;
}
